* {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
body, ul, li {
  padding: 0;
  margin: 0;
}
p {
  color: rgb(153, 153, 153);
}
.wrapper {
  text-align: center;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

/* material icons */
.material-icons.md-48 { 
  font-size: 48px; 
}

/* navbar */
nav {
  background-image: linear-gradient(rgba(231, 123, 123, 0.9), rgba(221, 119, 88, 0.9)); 
  position: fixed;
  width: 100%;
  height: 68px;
  z-index: 5;
}
nav h1 {
  user-select: none;
  margin-top: 16px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  float: left;
}
nav .main-nav {
  float: right;
  height: 68px;
}
nav:after {
 display: block;
 content: '';
 clear: both;
}
nav h2 {
  line-height: 0;
  margin: 0;
  text-indent: -10000px;
}
nav li {
  list-style: none;
  float: left;
  margin-left: 30px;
  margin-top: 25px;
}
nav li a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
nav li a i {
  vertical-align: middle;
  margin-top: -4px;
}
nav li:nth-child(-n+5) a:hover {
  color: rgb(252, 227, 138);
  padding-bottom: 6px;
  border-bottom: 3px solid rgb(252, 227, 138);
}
nav li:nth-child(n+6) a:hover {
  color: rgb(252, 227, 138);
}

/* header */
header {
  color: white;
  width: 100%;
  height: 700px;
  background: url('images/bannerBackground.jpg') no-repeat center center;
  background-size: cover;
}
#main-banner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(234, 131, 131, 0.9), rgba(240, 217, 138, 0.9));
}
#main-banner .wrapper {
  padding-top: 120px;
  text-align: center;
}
header h2 { 
  user-select: none;
  margin-top: 0;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
}
header h2:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 1em;
  text-transform: uppercase;
}
header h2 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: block;
  font-size: 4.5rem;
}
header a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
header .learn-more {
  display: inline-block;
  padding: 8px 20px;
  border: 4px solid white;
  transition: border 0.2s linear,
              background 0.2s linear,
              color 0.2s linear;
}
header .learn-more:hover {
  border: 4px solid rgb(243, 129, 129);
  background: white;
  color: rgb(243, 129, 129);
}
#title-wrap:after {
  display: block;
  content: '';
  height: 1px;
  width: 65px;
  border-bottom: 4px solid white;
  margin: 0 auto;
  margin-bottom: 50px;
}
header .table {
  display: table;
  margin: 0 auto;
  margin-top: 10%;
}
header li {
  width: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  list-style: none;
  line-height: 2.5rem;
  text-transform: uppercase;
  float: left;
  margin-left: 70px;
}
header li:first-child {
  margin-left: 0;
}
header li span {
  font-weight: bold;
  font-size: 1.3125rem;
}
header li:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-top: 4px solid white;
  margin: 0 auto;
}

/* about */
#about {
  padding-top: 90px;
}
#about h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.875rem;
  line-height: 0.6em;
}
#about h2:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
#about h2:nth-child(2):after {
  content: '';
  display: block;
  height: 1px;
  border-top: 4px solid rgb(243, 129, 129);
  width: 65px;
  margin: 30px auto;
}
#about-images {
  margin-top: 90px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
#about-images .images img {
  max-width: 30vw;
  display: block;
}
#about-images .images {
  position: relative;
  transition: transform 0.2s linear;
}
#about-images .images:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#about-images .images:hover {
  transform: translate(-9px, -9px);
}
#about-images .images:hover::before{
  background-image: linear-gradient(rgba(234, 131, 131, 0.9), rgba(240, 217, 138, 0.9));
}
#about-images .shadow {
  background: rgb(149, 225, 211);
}
#about-images .description {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about-images p {
  margin-top: 0;
  color: white;
  font-size: 1.3rem;
}
#about-images .images:hover .description{
  display: block;
}