* {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
:root {
  --icons-color: rgb(149, 225, 211);
  --text-color: rgb(153, 153, 153);
  --yellow-color: rgb(252, 227, 138);
  --red-color: rgb(243, 129, 129);
  --dark-icon-color: rgb(121, 177, 167);
}
body, ul, li, blockquote {
  padding: 0;
  margin: 0;
}
p {
  color: rgb(153, 153, 153);
}
.wrapper {
  text-align: center;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}
a {
  text-decoration: none;
}


/* scroll styling */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--text-color);
}
::-webkit-scrollbar-thumb {
  background: var(--icons-color);
  border-radius: 5px;
}

/* text styling */
.text-c {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.875rem;
  line-height: 1.875rem;
}
.text-n {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 1.875rem;
}
.text-title {
  color: rgb(51, 51, 51);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1em;
}
.person-position,
.cursive-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  line-height: 1em;
}
.text-wrap {
  margin: 0 auto;
  width: 80%;
}
blockquote {
  color: var(--text-color);
  font-style: italic;
}


/* icons */
.md-48 { 
  font-size: 48px; 
}
.md-36 { 
  font-size: 36px; 
}
.md-60 {
  font-size: 60px;
}
.cyan-icon {
  color: var(--icons-color);
}
i {
  user-select: none;
}
.fa-28:before {
  font-size: 28px;
}
.fa-18:before {
  font-size: 18px;
}

/* button */
.arrow-button {
  cursor: pointer;
  font-size: 100%;
  border: 0;
  padding: 0;
  background: transparent;
  color: var(--text-color);
  outline: none;
}


/* navbar */
nav {
  background-image: linear-gradient(rgba(179, 152, 152, 0.9),rgba(168, 147, 147, 0.9)); 
  position: fixed;
  width: 100%;
  height: 54px;
  z-index: 5;
}
nav .wrapper {
  height: 100%;
}
nav h1 {
  user-select: none;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  float: left;
}
#main-nav {
  float: right;
  height: 54px;
}
nav:after {
  display: block;
  content: '';
  clear: both;
}
nav h2 {
  line-height: 0;
  margin: 0;
  text-indent: -10000px;
}
nav ul {
  user-select: none;
}
nav li {
  list-style: none;
  float: left;
  margin-left: 30px;
  margin-top: 18px;
}
nav li a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
}
nav li a i {
  vertical-align: middle;
  margin-top: -4px;
}
#main-nav li:nth-child(-n+5) a:hover {
  color: var(--yellow-color);
  padding-bottom: 6px;
  border-bottom: 3px solid var(--yellow-color);
}
#main-nav li:nth-child(n+6) a:hover {
  color: var(--yellow-color);
}


/* header */
header {
  color: white;
  width: 100%;
  height: 700px;
  background: url(images/bannerBackground1.jpg) no-repeat center center;
  background-size: cover;
  transition: background 1s ease-in;
}
#main-banner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(234, 131, 131, 0.8), rgba(240, 217, 138, 0.8));
}
#main-banner .wrapper {
  padding-top: 120px;
  text-align: center;
}
header h2 { 
  user-select: none;
  margin-top: 0;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
}
header h2:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 1em;
  text-transform: uppercase;
}
header h2 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: block;
  font-size: 4.5rem;
}
header a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  user-select: none;
}
header .learn-more {
  display: inline-block;
  padding: 8px 20px;
  border: 4px solid white;
  transition: border 0.15s linear,
              background 0.15s linear,
              color 0.15s linear;
}
header .learn-more:hover {
  border: 4px solid var(--red-color);
  background: white;
  color: var(--red-color);
}
.title-wrap:after {
  display: block;
  content: '';
  height: 1px;
  width: 65px;
  border-bottom: 4px solid white;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* header titles */
#titles-container {
  height: 400px;
  list-style: none;
  overflow: hidden;
}
#titles-container li {
  height: 0;
}
#titles-container li.active {
  height: 100%;
}
#titles-container li .title-wrap h2 {
  opacity: 0;
}
#titles-container li.active .title-wrap h2 {
  transition: opacity 1s ease-in;
  opacity: 1;
}


/* bars and their description */
#indicators {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 65px auto 0 auto;
}
#indicators .item {
  width: 150px;
  max-width: 22%;
  flex: 22%;
  user-select: none;
}
#indicators .progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: white;
}
#indicators .bar-description {
  margin-top: 1em;
}
#indicators .item p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: white;
  text-align: left;
}
#indicators .item span {
  font-weight: bold;
  font-size: 1.3125rem;
}
/* filling animation */
#indicators .fill {
  width: 0;
  height: 100%;
  background: var(--red-color);
}
@keyframes fillFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#indicators .fill.active {
  animation: 6s linear fillFromLeft;
}


/* sections styling */
#about h2:nth-child(2):after,
#services h2:nth-child(2):after,
#design h2:nth-child(2):after,
#service h2:nth-child(2):after, 
#team h2:nth-child(2):after,
#work h2:nth-child(2):after,
#clients h2:nth-child(2):after,
#blog h2:nth-child(2):after,
#map .text-n:after {
  content: '';
  display: block;
  height: 1px;
  border-top: 4px solid var(--red-color);
  width: 70px;
  margin: 60px auto;
}
#about,
#services,
#design,
#service,
#team,
#work,
#blog,
#contact {
  padding-top: 90px;
}


/* about and team images*/
#about-images,
#team-people {
  margin-top: 120px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.images img {
  max-width: 100%;
  display: block;
}
.images {
  position: relative;
  transition: transform 0.2s linear;
}
.images:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.images:hover {
  transform: translate(-9px, -9px);
}
.images:hover:before {
  background-image: linear-gradient(rgba(234, 131, 131, 0.9), rgba(240, 217, 138, 0.9));
}
#about-images .shadow {
  flex: 32%;
  max-width: 32%;
  background: var(--icons-color);
}
#team-people .team-container {
  max-width: 32%;
}
#team-people .shadow {
  background: var(--icons-color);
}
#about-images .images:hover .description,
#team-people .images:hover .media-links {
  display: block;
}

/* about images description content styling */
#about-images .description {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about-images p {
  margin-top: 0;
  color: white;
  font-size: 1.3rem;
}



/* statistics */
#statistics {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 90px;
  height: 150px;
  background: var(--icons-color);
  overflow: hidden;
}
#statistics h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
#statistics p {
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
}
#statistics .wrapper {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding-left: 1px;
  padding-right: 1px;
}
.stat-item {
  background: var(--icons-color);
  width: 19.8%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.stat-item h3,
.stat-item p {
  flex: 100%;
  max-width: 100%;
}



/* services */
#services li {
  text-align: left;
  list-style: none;
  float: left;
  width: 32%;
  margin-bottom: 80px;
  overflow: hidden;
}
#services li:nth-child(2),
#services li:nth-child(5) {
  margin: 0 2%;
}
#services:after {
  content: '';
  display: block;
  clear: both;
}
.services-icon {
  float: left;
}
.services-description {
  float: right;
  width: 80%;
}
.services-description h3 {
  margin-top: 0;
}


/* design */
#design-background {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}
#design-background:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/mountainLake.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.15;
  z-index: -1;
}
#design-background .wrapper {
  position: relative;
}
#ipad-screen {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-55%);
}
#ipad-screen img {
  height: 450px;
}
#iphone-screen {
  position: absolute;
  top: 115px;
  left: 57%;
}
#iphone-screen img {
  height: 350px;
}


/* service */
#service-picture {
  float: left;
  width: 43%;
  min-height: 350px;
  overflow: hidden;
}
#service-picture img{
  min-height: 350px;
}
#service-wrap {
  margin-top: 120px;
}

#collapsible-set {
  text-align: left;
  float: right;
  width: 52%;
  height: 386px;
  border: 2px solid rgba(153, 153, 153, 0.28);
  border-bottom: none;
}
#service-wrap:after {
  display: block;
  content: '';
  clear: both;
}
#collapsible-set p {
  font-style: italic;
  font-weight: 300;
  line-height: 1.5rem;
}
.collapsible-title {
  border-bottom: 2px solid rgba(153, 153, 153, 0.28);
  padding: 7px 0;
}
.collapsible-title * {
  float: left;
}
.collapsible .arrow-button {
  float: right;
  margin-top: 5px;
}
#collapsible-set .collapsible:first-child button {
  cursor: default;
}
.collapsible-title:after {
  display: block;
  content: '';
  clear: both;
}
.collapsible-title h3 {
  margin-left: 20px;
  margin-top: 21px;
}
.collapsible-text {
  max-height: 0;
  height: 192px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 0;
  transition: max-height .3s ease-in-out;
}
.collapsible-text p {
  margin: 0 5px;
}
#collapsible-set .active {
  margin: 0;
  padding: 0 5px;
  max-height: 177px;
  border-bottom: 2px solid rgba(153, 153, 153, 0.28);
}
.collapsible-text::-webkit-scrollbar-track {
  box-shadow: none;
}
.collapsible-text::-webkit-scrollbar {
  width: 7px
}

/* carousels */ 
#service-carousel,
#team-carousel {
  margin-top: 120px;
  height: 200px;
  width: 100%;
}
.carousel {
  height: 100%;
  width: 100%;
  display: flex;
}
.carousel ul {
  order: 2;
  height: 100%;
  min-width: calc(100% - 80px);
  flex: calc(100% - 80px);
  display: flex;
  overflow: hidden;
  list-style: none;
}
.carousel li {
  display: block;
  opacity: 0;
  min-width: 100%;
  transition: opacity 1s ease-out,
              order ease-out .5s;
}
.carousel ul li.active {
  order: -1;
  opacity: 1;
}


.carousel-item {
  height: 100%;
  display: inline-block;
  margin: 0 auto; 
  width: 80%;
}
.carousel-item-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-btn,
.prev-btn {
  flex: 40px;
  min-width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.next-btn {
  float: right;
  order: 3;
}
.prev-btn {
  float: left;
}
.carousel:after {
  content: '';
  display: block;
  clear: both;
}
#service-carousel .carousel-item i {
  padding: 20px;
  border: 3px solid var(--icons-color);
  display: inline-block;
  width: 60px;
  height: 60px;
}
#team-carousel .carousel-item img {
  display: inline-block;
  width: 150px;
}
.carousel-item .quote-content {
  padding-left: 30px;
  text-align: left;
  display: inline-block;
  width: calc(90% - 60px);
}
.carousel-item p {
  color: black;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.1rem;
}
.carousel-item p:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 1px;
  border-top: 3px solid var(--red-color);
  margin-right: 17px;
}


/* team media links styling*/
.media-links {
  width: 100%;
  z-index: 2;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.media-links div {
  background: var(--yellow-color);
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-top: 3px;
}
.media-links i { 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-links a {
  color: var(--red-color);
}
.media-links div:hover {
  background: var(--red-color);
}
.media-links div:hover a {
  color: white;
}


/* logos */
#logos {
  width: 100%;
  margin-top: 120px;
}
#logos ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#logos li {
  width: 11%;
  min-width: 11%;
  list-style: none;
}
#logos li img{
  width: 100%;
}


/* work */
.row {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#work .column {
  flex: 25%;
  max-width: 25%;
}
#work .column img {
  vertical-align: middle;
  width: 100%;
  height: 50%;
}
#work .column:nth-child(3) img {
  height: 100%;
}
/* hover effects */
.work-images {
  position: relative;
}
.work-images:before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.2s linear;
}
.work-images:hover:before {
  opacity: 1;
  background: linear-gradient(rgba(234, 131, 131, 0.85), rgba(240, 217, 138, 0.85));
}
.work-images:hover .description {
  display: block;
  visibility: visible;
  opacity: 1;
}
.work-images .description {
  color: white;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  user-select: none;
  transition: visibility 0s, opacity 0.5s linear;
}
.work-images p {
  margin-top: 0;
  color: white;
  font-size: 0.9rem;
}
.work-images h4 {
  color: white;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 9px;
}


/* clients */
#clients {
  width: 100%;
  margin-top: 60px;
  position: relative;
}
#clients:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/backgroundClients.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.16;
  z-index: -1;
}
#clients .wrapper {
  padding-top: 60px;
}
#clients .row {
  justify-content: space-between;
}
#clients .column {
  flex: 47%;
  max-width: 47%;
}
#clients .opinion {
  margin-bottom: 40px;
  text-align: left;
}
#clients .column img {
  width: 100px;
  float: left;
}
#clients .description {
  float: right;
  width: calc(100% - 150px);
  margin-left: 30px;
}
#clients .opinion:after {
  display: block;
  content: '';
  clear: both;
}
#clients .person-position:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  border-top: 3px solid var(--red-color);
  margin-top: 16px;
}
#clients .text-title {
  margin-top: 0;
}


/* blog */
#blog .row {
  justify-content: space-between;
}
#blog .column {
  flex: calc(31% - 20px);
  max-width: calc(31% - 20px);
  margin: 0 10px;
}
.blog-img img {
  width: 100%;
}
.blog-img {
  position: relative;
}
.blog-date {
  position: absolute;
  bottom: 20px;
  left: -10px;
  width: 60px;
  height: 80px;
  background: var(--icons-color);
}
.center-date {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.blog-date h4 {
  color: white;
  margin: 0;
}
.blog-date p {
  color: white;
  margin-bottom: 0;
}
.blog-intro {
  text-align: left;
}
.blog-intro .text-title:hover {
  cursor: pointer;
}
.blog-intro:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-top: 1px solid rgba(153, 153, 153, 0.28);
}
.blog-stats {
  text-align: left;
}
.blog-views,
.blog-comments,
.blog-views > *,
.blog-comments > * {
  display: inline-block;
}
.blog-comments {
  margin-left: 8px;
}

/* map */
#map {
  margin-top: 120px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 200px;
  color: var(--red-color);
}
#map:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;  
  height: 100%;
  width: 100%;
  background: url(images/map.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.18;
}
#map .wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#map .text-n {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}
#map .text-n:after {
  margin-top: 24px;
  margin-bottom: 0;
}
#g-map {
  height: 400px;
  width: 100%;
  display: none;
}
#map-style {
  height: 100%;
  width: 100%;
}
#map-close {
  height: 30px;
  width: 100%;
  display: none;
}
#map-close div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#map-close span {
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: .875rem;
  opacity: .75;
  transition: opacity .2s linear;
}
#map-close span:hover {
  opacity: 1;
}



/* footer */
footer {
  background: rgb(248, 248, 248);
}
footer .row {
  margin-top: 0;
  justify-content: space-between;
}
#contact-column {
  flex: 35%;
  max-width: 35%;
}
#blogs-column {
  flex: 35%;
  max-width: 35%;
}
#ig-column {
  flex: 23%;
  max-width: 23%;
}
footer h2 {
  color: rgb(204, 204, 204);
  user-select: none;
  margin-top: 16px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  text-align: left;
}

/* contact column */
#contact-column p {
  text-align: left;
  margin-bottom: 40px;
}
#contact-column .text-n {
  text-transform: none;
  font-size: 1.25rem;
}
#contact-column .text-title {
  text-transform: none;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
#contact-column .text-title:after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  border-top: 1px solid rgba(153, 153, 153, 0.28);
  margin-top: 20px;
}
#our-media .cursive-text {
  margin: 0 0 40px 0;
  display: inline-block;
}
#contact-column i {
  margin-left: 9px;
}
#contact-column a:hover i {
  color: var(--dark-icon-color);
}
#our-media {
  text-align: left;
}
/* subscription form */
#contact-form form {
  text-align: left;
}
#contact-form input {
  border: 1px solid rgba(153, 153, 153, 0.28);
  padding: 7px 5px;
  outline-color: var(--icons-color);
}
#contact-form button {
  outline: none;
  border: none;
  background: var(--icons-color);
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: background .2s linear;
}
#contact-form button:hover {
  background: var(--dark-icon-color);
  cursor: pointer;
}

/* blogs column */
#blogs-column {
  text-align: left;
}
#blogs-column .blog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#blogs-column .blog-item:hover {
  cursor: pointer;
}
#blogs-column .blog-text .text-title {
  font-weight: bold;
  font-size: 0.875rem;
  margin-top: 0;
}
#blogs-column .blog-text .cursive-text {
  margin-bottom: 0;
}
#blogs-column .row {
  margin-top: 40px;
}
#blogs-column .column {
  flex: 100%;
  max-width: 100%;
}
#blogs-column .column img {
  max-width: 35%;
  height: 100%;
  flex: 35%;
}
#blogs-column .column .blog-text {
  max-width: 62%;
  flex: 62%;
}

/* ig column */
#ig-column .row {
  margin-top: 40px;
  justify-content: space-between;
}
#ig-column .column {
  flex: 32.5%;
  max-width: 32.5%;
}
#ig-column .column img {
  width: 100%;
}

#copyright .text-title {
  margin-top: 45px;
  margin-bottom: 0;
  padding-bottom: 14px;
  text-transform: none;
  font-weight: bold;
  font-size: .875rem;
}


/* navbar hamburger menu */
#hamburger {
  position: absolute;
  right: 2%;
  margin-top: 15px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  display: none;
}
#hamburger:focus #hamburger-container {
  box-shadow: 0 0 1px 1px #51a7e8;
}
#hamburger:focus,
#hamburger-container:focus {
  outline: none;
}
#hamburger-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 24px;
  width: 40px;
}
.hamburger-bars {
  position: absolute;
  height: 4px;
  width: 100%;  
  border-radius: 6px;
  background: white;
  transition: transform .2s ease-in-out;
}
.hamburger-bars:before,
.hamburger-bars:after {
  display: block;
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 6px;
  background: white;
}
.hamburger-bars:before {
  top: -10px;
  transition: top .1s ease-out .2s,
            transform .2s ease-in-out;
}
.hamburger-bars:after {
  bottom: -10px;
  transition: bottom .1s ease-out .2s;
}
#hamburger.active .hamburger-bars {
  transform: rotate(45deg);
  transition: transform .2s ease-in-out .1s;
}
#hamburger.active .hamburger-bars:before {
  top: 0;
  transform: rotate(-90deg);
  transition: top .1s ease-in,
              transform .2s ease-in-out .1s;
}
#hamburger.active .hamburger-bars:after {
  bottom: 0;
  transition: bottom .1s ease-in;
}
#hamburger-menu {
  width: 100%;
  height: 0;
  visibility: hidden;
  background: rgba(168, 147, 147, 0.9);
  border-top: 1px solid rgba(170, 169, 169, 0.637);
  border-bottom: 1px solid rgba(170, 169, 169, 0.637);
  transition: height .3s ease-in-out,
              visibility linear .3s;
  overflow: hidden;
  text-align: center;
}
#hamburger-menu.active {
  height: 0;
}
#hamburger-menu ul {
  width: 100%;
  height: 100%;
}
#hamburger-menu li {
  float: none;
  display: inline;
  line-height: 3.375em;
}
#hamburger-menu li:first-child {
  margin-left: 0;
}



/* media queries */
@media screen and (max-width: 1024px) {
  /* navbar */
  #hamburger {
    display: inline-block;
  }
  #main-nav {
    display: none;
  }
  #hamburger-menu.active {
    visibility: visible;
    height: 100%;
  }

  /* header */
  #indicators .bar-description {
    margin-top: .5em;
  }
  header .learn-more:hover { /* remove on hover effect for link */
    border: 4px solid white;
    background: transparent;
    color: white;
  }

  /* footer */
  #blogs-column {
    flex: 40%;
    max-width: 40%;
  }
  #contact-column {
    flex: 53%;
    max-width: 53%;
  }
  #ig-column {
    flex: 100%;
    max-width: 100%;
  }
  #ig-column .column {
    flex: calc(100% / 3);
    max-width: calc(100% / 3);
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 860px) {
  /* services */
  #services li {
    width: 48%;
    margin-bottom: 40px;
  }
  #services li:nth-child(2),
  #services li:nth-child(5) {
    margin:  0 0 40px 0;
  }
  #services li:nth-child(odd) {
    margin-right: 4%;
  }

  /* clients */
  #clients .column {
    flex: 96%;
    max-width: 96%;
  }

  /* footer */
  #ig-column .column {
    flex: 37.5%;
    max-width: 37.5%;
  }
  #ig-column .column:last-child {
    flex: 25%;
    max-width: 25%;
  }
  #ig-column .column:last-child .ig-item:last-child {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  /* header */
  #indicators {
    justify-content: space-around;
  }
  #indicators .progress-bar {
    margin-top: .5em;
  }
  #indicators .bar-description {
    margin-top: .25em;
  }
  #indicators .item p {
    line-height: 1.5rem;
  }
  #indicators .item {
    max-width: 42%;
    flex: 42%;
  }

  /* blog */
  #blog .column {
    flex: 45%;
    max-width: 45%;
  }
  #blog .column:last-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .text-wrap {
    width: 90%;
  }

  /* navbar */
  nav a {
    display: inline-block;
  }

  /* about */
  #about-images {
    margin-top: 50px;
    justify-content: space-around;
  }
  #about-images .shadow:last-child {
    display: none;
  }
  #about-images .shadow {
    flex: 45%;
    max-width: 45%;
  }

  /* statistics */
  #statistics .wrapper {
    width: 100%;
    padding: 0;
  }

  /* footer */
  #ig-column .column {
    flex: calc(100% / 7 *3);
    max-width: calc(100% / 7 *3);
  }
  #ig-column .column:last-child {
    flex: calc(100% / 7);
    max-width: calc(100% / 7);
  }
  #ig-column .column:last-child .ig-item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  /* service */
  #service-picture {
    width: 96%;
    margin: 0 auto 16px auto;
    float: none;
    min-height: unset;
  }
  #service-picture img {
    min-height: unset;
    width: 100%;
  }
  #collapsible-set {
    width: 96%;
    margin: 0 auto;
    float: none;
  }

  /* carousel */
  .carousel-item {
    width: 95%;
  }

  /* logos */
  #logos li {
    width: 16%;
    min-width: 16%;
  }

  /* footer */
  #contact-column {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  #blogs-column {
    flex: 48%;
    max-width: 48%;
  }
  #ig-column {
    flex: 48%;
    max-width: 48%;
  }
  #ig-column .column {
    flex: 32.5%;
    max-width: 32.5%;
    display: block;
  }
  #ig-column .column:last-child {
    flex: 32.5%;
    max-width: 32.5%;
  }
  #ig-column .column:last-child .ig-item:last-child,
  #ig-column .column:last-child .ig-item:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  /* navbar */
  #hamburger-menu.active {
    height: 200%;
  }
  #hamburger-menu li:nth-child(3):after {
    content: '\A';
    white-space: pre;
  }
  #hamburger-menu li:nth-child(4) {
    margin-left: 0;
  }

  /* work */
  #work .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 550px) {
  /* services */
  #services li:nth-child(odd) {
    margin-right: 0;
  }
  #services li:nth-child(2),
  #services li:nth-child(5) {
    margin-left: 5%;
  }
  #services li {
    width: 90%;
    margin-left: 5%;
  }

  /* carousel */
  #service-carousel,
  #team-carousel {
    height: 400px;
  }
  .carousel-item {
    width: 95%;
  }
  .carousel-item-content {
    flex-wrap: wrap;
  }
  .carousel-item .quote-content{
    margin-top: 16px;
    width: 100%;
    text-align: center;
  }

  /* team */
  #team-people .team-container {
    max-width: 49%;
  }
  #team-people .team-container:last-child {
    display: none;
  }

  /* blog */
  #blog .column {
    flex: 96%;
    max-width: 96%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  /* header */
  header {
    height: 545px;
  }
  header h2 {
    font-size: 2rem;
  }
  header h2:nth-child(2) {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  header h2 span {
    font-size: 3rem;
  }
  #titles-container {
    height: 320px;
  }
  #titles-container .title-wrap:after {
    margin-bottom: 30px;
  }
  #indicators {
    margin-top: 0;
  }

  /* about */
  #about-images .shadow:nth-child(2) {
    display: none;
  }
  #about-images .shadow {
    flex: 70%;
    max-width: 70%;
  }

  /* statistics */
  #statistics {
    height: 250px;
  }
  #statistics .stat-item {
    flex: 49.75%;
    max-width: 49.75%;
  }
  #statistics .stat-item:nth-child(n+3) {
    flex: 33%;
    max-width: 33%;
    margin-top: 1px;
  }

  /* footer */
  #ig-column .column {
    flex: 49%;
    max-width: 49%;
  }
  #ig-column .column:last-child {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  /* navbar */
  #hamburger-menu.active {
    height: 500%;
  }
  #hamburger-menu li:nth-child(-n+5):after {
    content: '\A';
    white-space: pre;
  }
  #hamburger-menu li:nth-child(-n+6) {
    margin-left: 0;
  }
  #hamburger-menu li {
    line-height: 2.8125em;
  }

  /* team */
  #team-people {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #team-people .team-container {
    max-width: 70%;
    margin-bottom: 30px;
  }
  #team-people .team-container:last-child {
    display: none;
  }

  /* footer */
  #blogs-column {
    flex: 100%;
    max-width: 100%;
  }
  #ig-column {
    flex: 100%;
    max-width: 100%;
  }
  #ig-column .column {
    flex: 32.5%;
    max-width: 32.5%;
  }
  #ig-column .column:last-child {
    display: block;
  }
  #ig-column .column .ig-item:last-child,
  #ig-column .column:last-child .ig-item:last-child {
    display: none;
  }
}
